<div class="card overflow-auto mt-8">
  <div class="px-6 h-16 border-b sticky left-0 flex items-center">
    <span class="flex-1"></span>
    <button
      mat-fab
      extended
      type="button"
      (click)="openCreateEditModal()"
      class="ml-4 flex-none"
      color="primary"
      *appHasAnyPermission="PERMISSIONS.attributes_post_permission"
    >
      <mat-icon class="icon-sm btn__icon" svgIcon="mat:add"></mat-icon>
      Add Attribute
    </button>
  </div>

  <div class="mat-elevation-z8">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      matSortDisableClear
      matSortDirection="desc"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>
      <ng-container matColumnDef="indicator">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Indicator</th>
        <td mat-cell *matCellDef="let row">{{ row?.indicator?.name }}</td>
      </ng-container>
      <ng-container matColumnDef="data_type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Type</th>
        <td mat-cell *matCellDef="let row">{{ row?.data_type }}</td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th id="actions" *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
          <button
            (click)="$event.stopPropagation()"
            [matMenuTriggerData]="{ data: row }"
            [matMenuTriggerFor]="actionsMenu"
            mat-icon-button
            type="button"
            *appHasAnyPermission="[
              PERMISSIONS.attributes_put_permission,
              PERMISSIONS.attributes_delete_permission
            ]"
          >
            <mat-icon svgIcon="mat:more_vert"></mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching</td>
      </tr>
    </table>

    <mat-paginator
      #paginator
      [length]="resultsLength"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
  </div>
</div>
<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-data="data" matMenuContent>
    <button
      *appHasAnyPermission="PERMISSIONS.attributes_put_permission"
      (click)="openCreateEditModal(data)"
      mat-menu-item
    >
      <mat-icon svgIcon="mat:edit"></mat-icon>
      <span>Edit</span>
    </button>
    <button
      *appHasAnyPermission="PERMISSIONS.attributes_delete_permission"
      (click)="deleteAttribute(data)"
      mat-menu-item
    >
      <mat-icon svgIcon="mat:delete"></mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
