<nav>
  <div class="mx-auto px-0 sm:px-2 md:px-2 lg:px-2 xl:px-2">
    <div class="relative flex h-16 items-center justify-between">
      <div class="flex items-center justify-center sm:justify-start">
        <div
          class="flex flex-shrink-0 items-center hidden sm:block md:block lg:block xl:block"
        >
          <a [routerLink]="['/']" class="rtl:ml-4 block flex items-center">
            <img alt="Logo" class="h-8 w-auto" src="assets/img/logo.svg" />
          </a>
        </div>
      </div>
      <div
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <!-- Profile dropdown -->
        <div class="relative">
          <ng-container>
            <a (click)="login()">
              <div class="-mx-1 flex items-center">
                <div class="px-1">
                  <div
                    class="flex items-center rounded cursor-pointer relative trans-ease-out select-none py-1 pr-1 pl-3 hover:bg-hover"
                  >
                    <div
                      class="rounded-full h-9 w-9 flex items-center justify-center text-primary bg-primary/10"
                    >
                      <mat-icon svgIcon="mat:person"></mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="card overflow-auto mt-8">
    <div class="mat-elevation-z8">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        matSortDisableClear
        matSortDirection="desc"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Name of Document
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row?.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th id="actions" *matHeaderCellDef mat-header-cell></th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button
              (click)="$event.stopPropagation()"
              [matMenuTriggerData]="{ data: row }"
              [matMenuTriggerFor]="actionsMenu"
              mat-icon-button
              type="button"
            >
              <mat-icon svgIcon="mat:more_vert"></mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching</td>
        </tr>
      </table>

      <mat-paginator
        #paginator
        [pageSize]="pageSize"
        [length]="resultsLength"
        [pageSizeOptions]="[5, 10, 25, 100]"
      ></mat-paginator>
    </div>
  </div>
  <mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-data="data" matMenuContent>
      <button (click)="viewDocument(data)" mat-menu-item>
        <mat-icon svgIcon="mat:visibility"></mat-icon>
        <span>View Document</span>
      </button>
      <button (click)="downloadFile(data)" mat-menu-item>
        <mat-icon svgIcon="mat:download"></mat-icon>
        <span>Download</span>
      </button>
    </ng-template>
  </mat-menu>
</nav>
