<div class="card overflow-auto p-5">
  <form (ngSubmit)="save()" [formGroup]="form">
    <div class="pt-2 pb-4 border-b">
      <h2 class="title m-0">Upload File</h2>
    </div>

    <div class="flex items-center justify-center w-full">
      <label
        for="dropzone-file"
        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer dark:border-gray-600 dark:hover:border-gray-500"
      >
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg
            class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 16"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
            />
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Click to upload</span> or drag and drop
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">PDF</p>
        </div>
        <input
          (change)="onFileChange($event)"
          id="dropzone-file"
          formControlName="file"
          type="file"
          class="hidden"
        />
      </label>
    </div>

    <div
      class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6"
      *ngIf="form.get('file')?.value"
    >
      <div class="flex w-0 flex-1 items-center">
        <svg
          class="h-5 w-5 flex-shrink-0 text-gray-400"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
            clip-rule="evenodd"
          />
        </svg>
        <div class="ml-4 flex min-w-0 flex-1 gap-2">
          <span class="truncate font-medium">{{
            form.get("file")?.value.name
          }}</span>
        </div>
      </div>
      <div class="ml-4 flex-shrink-0">
        <a
          (click)="removeFile()"
          class="font-medium text-indigo-600 hover:text-indigo-500 cursor-pointer"
          >Remove</a
        >
      </div>
    </div>

    <div align="end" class="pt-4">
      <button mat-button type="button" mat-dialog-close>Cancel</button>
      <button
        color="primary"
        [disabled]="form.invalid || !form.dirty"
        mat-flat-button
        type="submit"
      >
        Save
      </button>
    </div>
  </form>
</div>
