<button
  mat-icon-button
  color="secondary"
  class="text-sm font-medium customBtn relative"
  id="identify"
  (click)="toggleIdentify()"
  [matTooltip]="isActive ? 'Cancel' : 'Get Information'"
  matTooltipPosition="below"
>
  <mat-icon *ngIf="!isActive" svgIcon="mat:info"></mat-icon>
  <mat-icon *ngIf="isActive" svgIcon="mat:cancel"></mat-icon>
</button>

<!-- Define the overlay panel -->
<p-overlayPanel #op [style]="{ width: '450px' }" [showCloseIcon]="true">
  <ng-template pTemplate="content">
    <!-- Display properties -->
    <div *ngIf="properties">
      <p *ngFor="let prop of properties">{{ prop.key }}: {{ prop.value }}</p>
    </div>
  </ng-template>
</p-overlayPanel>
