<!-- <div class="search-wrapper"></div> -->

<button
  class="text-sm font-medium customBtn"
  mat-mini-fab
  color="secondary"
  id="searchInput"
  title="Search"
  (click)="openDialogWithoutRef()"
>
  <mat-icon>search</mat-icon>
</button>

<ng-template #secondDialog>
  <h2 mat-dialog-title>Dialog with elements</h2>
  <mat-dialog-content><div class="search-wrapper"></div></mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>
