@import "node_modules/ol/ol.css";
@import "node_modules/ol-ext/control/LayerSwitcher.css";
@import "node_modules/ol-ext/control/Search.css";
@import "node_modules/ol-ext/overlay/Popup.css";
@import "node_modules/ol-ext/control/Overview.css";
@import "node_modules/ol-ext/control/PrintDialog.css";
@import "node_modules/ol-ext/control/Legend.css";
@import "node_modules/ol-ext/dist/ol-ext.css";

::ng-deep .ol-layerswitcher.ol-collapsed {
  min-width: unset;
}
::ng-deep .ol-layerswitcher,
.ol-layerswitcher.ol-forceopen {
  min-width: 20em;
}

::ng-deep .ol-layerswitcher > ul.panel {
  overflow-y: auto;
  box-sizing: border-box;
}

::ng-deep .ol-layerswitcher li .li-content {
  width: calc(100% - 3em);
}

::ng-deep .ol-layerswitcher li .li-content label {
  width: 60%;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0.6em 0;
}

::ng-deep .ol-control.ol-layerswitcher .panel-container {
  padding-right: 0;
}

::ng-deep .ol-layerswitcher .panel li .layerswitcher-opacity {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
}
::ng-deep .ol-layerswitcher .layerswitcher-opacity {
  border: 0;
  background: none;
  height: 1em;
  box-shadow: none;
}
::ng-deep .ol-layerswitcher .layerswitcher-opacity:before {
  content: "";
  width: 100%;
  height: 3px;
  background: #017eff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid #017eff;
  box-sizing: border-box;
}
::ng-deep
  .ol-layerswitcher
  .layerswitcher-opacity
  .layerswitcher-opacity-cursor {
  width: auto;
  transform: translateY(-50%);
  height: 3px;
  right: 0;
  background: #666;
  border-radius: 0;
}
::ng-deep
  .ol-touch
  .ol-layerswitcher
  .layerswitcher-opacity
  .layerswitcher-opacity-cursor,
::ng-deep
  .ol-layerswitcher
  .layerswitcher-opacity
  .layerswitcher-opacity-cursor:before {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 16px;
  left: -1px;
  border-radius: 0;
  background: #017eff;
}
::ng-deep .ol-layerswitcher .layerswitcher-opacity-label {
  display: block;
  right: 20%;
  bottom: 70%;
  font-size: 0.6em;
  user-select: none;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

::ng-deep .ol-layerswitcher .layerup {
  width: 2em;
  background: none;
  position: absolute;
  right: 0.5em;
}
::ng-deep .ol-layerswitcher .layerup:after {
  content: none;
}
::ng-deep .ol-layerswitcher .layerup:before {
  color: #017eff;
  content: "\F0C9";
  font-family: FontAwesome;
  border: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1em;
  left: 0.5em;
}

::ng-deep .ol-layerswitcher [type="checkbox"] + label:before,
::ng-deep .ol-layerswitcher [type="radio"] + label:before {
  content: "";
  border: 2px solid #ccc;
  background-color: transparent;
}
::ng-deep .ol-layerswitcher [type="checkbox"]:checked + label:before,
::ng-deep .ol-layerswitcher [type="radio"]:checked + label:before {
  background: #017eff;
  border-color: #017eff;
}
::ng-deep .ol-layerswitcher [type="checkbox"]:checked + label:after {
  content: "\2713";
  color: #fff;
  position: absolute;
  top: -0.15em;
  left: 0.25em;
  cursor: pointer;
  font-weight: 900;
  text-shadow: 1px 1px #fff;
  font-size: 1.2em;
  transform: none;
  border: 0;
  box-shadow: unset;
}

::ng-deep .ol-layerswitcher [type="radio"]:checked + label:after {
  content: none;
}

::ng-deep .ol-control.ol-layerswitcher {
  background: #017eff;
  right: 0;
  border-radius: 0;
}
::ng-deep .ol-layerswitcher button,
.ol-layerswitcher button:focus,
.ol-layerswitcher button:hover {
  background: #017eff;
  border: 0;
  user-select: none;
  outline: none;
}
::ng-deep .ol-layerswitcher button:before {
  background: #017eff;
  -webkit-box-shadow: 0.1em 0.1em #fff;
  box-shadow: 0.1em 0.1em #fff;
}
::ng-deep .ol-layerswitcher button:after {
  background: #fff;
  background-image: none;
}

::ng-deep .ol-layerswitcher .ol-layer-group {
  margin-top: 1em;
}
::ng-deep
  .ol-layerswitcher
  .ol-layer-group
  > .ol-layerswitcher-buttons
  .layerInfo {
  display: none;
}
::ng-deep .ol-layerswitcher .expend-layers:before,
::ng-deep .ol-layerswitcher .collapse-layers:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2px;
  height: 4px;
  width: 100%;
  background: #369;
}
::ng-deep .ol-layerswitcher .expend-layers,
::ng-deep .ol-layerswitcher .collapse-layers {
  top: -1em;
}
::ng-deep .ol-layerswitcher .expend-layers:before,
::ng-deep .ol-layerswitcher .expend-layers:after,
::ng-deep .ol-layerswitcher .collapse-layers:before,
::ng-deep .ol-layerswitcher .collapse-layers:after {
  background: #017eff;
}
::ng-deep .ol-layerswitcher .panel ul {
  overflow: visible;
}
::ng-deep .ol-layerswitcher .layerInfo {
  right: 0;
  background: #017eff;
}

::ng-deep .ol-control.ol-layerswitcher .ol-switchertopdiv,
.ol-control.ol-layerswitcher .ol-switcherbottomdiv {
  display: none !important;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-size: 0.98em !important;
}
::ng-deep .ol-control.ol-layerswitcher {
  background: var(--primary-color);
}
// ::ng-deep .ol-switchertopdiv {
//   display: block !important;
// }
// ::ng-deep .ol-graticule-toggle {
//   display: block !important;
//   color: black;
// }
::ng-deep .ol-search {
  top: 5em;
  left: 0.5em;
}
::ng-deep .ol-savelegend {
  display: none !important;
}
::ng-deep .ol-search ul {
  max-width: 17.5em !important;
}
::ng-deep .ol-control.ol-legend {
  bottom: 3em !important;
}
::ng-deep .ol-full-screen {
  left: 0.5em !important;
  right: auto !important;
}
::ng-deep .ol-zoom {
  top: 2.5em;
}
::ng-deep .ol-attribution {
  bottom: 2.4em;
}

::ng-deep .ol-scale-line .ol-unselectable {
  bottom: 1rem;
}
::ng-deep .ol-scale-line {
  visibility: visible !important;
}
// ::ng-deep .ol-zoomslider {
//   z-index: 999 !important;
// }

#map {
  position: absolute;
  background-color: rgb(238, 238, 238);
  overflow: hidden;
  min-width: 1px;
  min-height: 1px;
  inset: 0px 0px 52px 0px; /* Ensure the map stays within its container */
  width: 100%; /* Make width 100% of its container */
  height: 100%; /* Make height 100% of its container */
  padding: 0px;
  margin: 0;
  z-index: auto;
}

::ng-deep .accordion-style {
  bottom: 0 !important;
  z-index: 555 !important;
  width: 100% !important;
  max-height: 300px !important;
  display: block !important;
  position: fixed !important;
}
::ng-deep .ol-attribution button {
  display: none !important;
}
::ng-deep .ol-control.ol-layerswitcher {
  top: 5.5em !important;
}
::ng-deep .ol-zoom {
  display: none !important;
}

::ng-deep .ol-full-screen {
  display: none !important;
}
input:checked + label {
  border-color: black;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.form {
  z-index: 99 !important;
}
.search-wrapper {
  position: relative;
  left: 9rem;
  width: 10px;
  height: 20px;
}

/* The Modal (background) */
::ng-deep .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/* Modal Content */
::ng-deep .modal-content {
  border-radius: 1rem;
  background-color: #fff;
  margin: auto;
  padding: 22px;
  border: 1px solid #2196f3;
  width: 35%;
}
// ::ng-deep .ol-layerswitcher > button {
//   float: left !important;
// }
@media only screen and (max-width: 600px) {
  ::ng-deep .material-icons {
    font-size: 20px !important;
  }
  ::ng-deep .mat-mdc-icon-button.mat-mdc-button-base {
    --mdc-icon-button-state-layer-size: 36px !important;
    width: var(--mdc-icon-button-state-layer-size);
    height: var(--mdc-icon-button-state-layer-size);
    padding: 0px !important;
  }
  ::ng-deep .modal-content {
    width: 60%;
  }
}

.coords {
  position: relative;
  bottom: 1rem;
  font-weight: bold;
}
#selectControl {
  top: 9.2rem;
  left: 0.5rem;
}

.form-container {
  width: 200px;
  border: 1px solid #2196f3;
  border-radius: 0.5rem;
  padding: 15px;
  position: fixed;
  top: 9rem;
  left: 0.535em;
  height: auto;
  background-color: #fff;
  z-index: 1000;
}

/* Add custom CSS to format the form rows */
::ng-deep .form-container-el {
  display: block;
}

::ng-deep .form-container-el label {
  display: inline-flex;
  // width: 100px;
  text-align: left;
  margin-right: 110px;
}

::ng-deep .form-container-el input {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

/* ol-mouse posistion */
.custom-mouse-position {
  position: fixed;
  bottom: 30px;
  right: 10px;
  background-color: rgba(101, 97, 97, 0.507);
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #ffffff;
}

.ol-attribution {
  bottom: 25px;
  color: blue;
}

/* scale-bar  */
::ng-deep .ol-scale-bar {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/* The Close Button */

.close {
  position: relative;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  bottom: 1.765rem;
  left: 1rem;
}
.myModal {
  display: block;
  z-index: 99999;
}

.myFormContainer {
  display: block;
}
.ol-popup {
  display: none;
  position: absolute;
  background-color: white;
  padding: 15px;
  border: 1px solid #cccccc;
  top: 5rem;
  left: 16rem;
  min-width: 100px;
  z-index: 10000;
}
.closePopUp {
  display: none;
}
.showPop {
  display: block;
}
// #saveForm {
//   display: none;
// }
.popupInput {
  border: 1px solid !important;
  margin-top: 0.5rem !important;
  height: 1.5rem !important;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Custom CSS for the scale input */
#scaleInput {
  width: 150px;
  text-align: center;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.panelBtn {
  background-color: white;
  float: left;
  z-index: 10;
  position: relative;
  font-size: 1.7em;
}

table,
th,
td {
  border: 1px solid #2196f3;
}

.selectControl {
  position: fixed;
  top: 90px;
  left: 20px;
  width: auto;
  height: auto;
  background-color: #fff;
  z-index: 1000;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mySelectControl {
  display: block;
}

.selectControl h1 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 500;
  position: relative;
  top: -1.345em;
}

.selectControl label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

.selectControl select {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.selectControl input {
  font-size: 13px;
}
.selectControl input[type="button"] {
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: inline-block;
  margin-top: 15px;
}
.selectControl #resetBtn {
  margin-right: 0.5em;
  background: darkgray;
}
.selectControl #resetBtn:hover {
  background: gray;
}
.selectControl input[type="button"]:hover {
  background-color: #0056b3;
}

::ng-deep .ol-ext-buttons {
  display: none;
}
