<form (ngSubmit)="submit()" [formGroup]="passwordForm">
  <div class="flex items-center" mat-dialog-title>
    <h2 class="headline m-0 flex-auto">{{ "changePassword" | translate }}</h2>
    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon svgIcon="mat:close"></mat-icon>
    </button>
  </div>

  <mat-divider class="text-border"></mat-divider>

  <mat-dialog-content class="flex flex-col">
    <mat-form-field class="flex-auto">
      <mat-label>Curent Password</mat-label>
      <input
        type="password"
        #currentPassword
        matInput
        formControlName="currentPassword"
      />
    </mat-form-field>
    <ng-container formGroupName="changePasswordForm">
      <mat-form-field class="flex-auto" *appTogglePasswordVisibility>
        <mat-label>New Password</mat-label>
        <input
          type="password"
          #newPassword
          matInput
          formControlName="newPassword"
        />
      </mat-form-field>
      <mat-form-field class="flex-auto" *appTogglePasswordVisibility>
        <mat-label>Confirm New Password</mat-label>
        <input
          #confirmNewPassword
          type="password"
          matInput
          formControlName="confirmNewPassword"
        />
        <mat-error
          *ngIf="
            passwordForm
              ?.get('changePasswordForm')
              ?.get('confirmNewPassword')
              ?.hasError('notSame')
          "
        >
          Passwords do not match
        </mat-error>
      </mat-form-field>
    </ng-container>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button
      color="primary"
      mat-flat-button
      type="submit"
      [disabled]="passwordForm.invalid"
    >
      Save
    </button>
  </mat-dialog-actions>
</form>
