<div class="w-full h-full bg-pattern flex flex-col items-center justify-center">
  <div @fadeInUp class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div class="fill-current text-center">
        <img class="w-16" alt="pont logo" src="assets/img/logo.svg" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Build Green Group Albania</h2>
      <h4 class="body-2 text-secondary m-0">{{ "loginMsg" | translate }}</h4>
    </div>

    <form
      [formGroup]="form"
      (ngSubmit)="signIn()"
      class="p-6 flex flex-col gap-4"
    >
      <div class="flex flex-col">
        <mat-form-field class="flex-1">
          <mat-label>Username</mat-label>
          <input formControlName="username" matInput required />
          <mat-error *ngIf="form.get('username')?.hasError('required')"
            >Enter username</mat-error
          >
        </mat-form-field>
        <mat-form-field class="flex-1" *appTogglePasswordVisibility>
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" matInput required />
          <mat-error *ngIf="form.get('password')?.hasError('required')"
            >Enter password</mat-error
          >
        </mat-form-field>
      </div>

      <button
        color="primary"
        [disabled]="form.invalid"
        mat-fab
        extended
        type="submit"
      >
        <mat-icon *ngIf="loading"
          ><mat-spinner color="accent" diameter="20"> </mat-spinner
        ></mat-icon>
        {{ "login" | translate }}
      </button>

      <p class="mt-5 text-center text-sm text-gray-500">
        Not a member?
        <a
          [routerLink]="['/auth/signup']"
          class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500"
          >Sign Up Here</a
        >
      </p>
    </form>
  </div>
</div>
